/* global colours */
$error-red: #fa0714;
$off-black: #121212;
$royal-blue: #1331f2;
$gold: #f2c613;
$very-light-green-gray: #dee0df;
$middle-brown-gray: #9c9a97;
$red-orange: #e34810;

/* header-display mixin */
@mixin flex-centre-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin row-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin nav-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-size {
  font-size: 1.2em;
}

@mixin nav-font-style {
  @include font-size;
  padding: 1.5em;
}

@mixin nav-highlight {
  color: $gold;
  transform: scale(1.2);
}
