@import 'globals';

body {
  margin: 0;
}

nav {
  @include nav-display;
  background-color: $royal-blue;
  color: #FFF;
  #brand {
    font-family: 'Bungee', cursive;
    font-size: 1.2em;
    display: grid;
    place-items: center;
    padding: 0 2rem;
    height: 100%;
  }

  #tweet {
    font-size: 1.2em;
  }
}

#nav-centre {
  @include nav-display;
}

#show-profile {
  font-weight: 700;
  transition: all 300ms ease-in-out;
}

#nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 0 2rem;
}

#compose-tweet {
  font-weight: 700;
  transition: all 300ms ease-in-out;
}

#compose-tweet:hover {
  color: $gold;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  nav #brand, nav #tweet {
    font-size: 0.9em;
    padding: 2em;
  }
}