body {
  margin: 0;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  z-index: 2;
  background-color: #4056A1;
  color: #FFF;
}

nav #brand {
  font-family: 'Bungee', cursive;
  font-size: 1.2em;
  padding: 1.5em;
}

nav #tweet {
  font-size: 1.2em;
  padding: 1.5em;
}

#nav-left {
  display: flex;
}

#nav-right {
  display: flex;
  flex-direction: column;
}

#nav-right .fa {
  z-index: 3;
  color: black;
  height: 20px;
  width: 20px;
  justify-content: center;
  position: relative;
  bottom: 45px;
  left: 125px;
  color: #ebc015;
  /* for the transition when the cursor moves off the element */
  /* smaller since we want a bit faster shrinking back to normal */
  transition: 200ms ease-in-out;
}

#nav-right .fa:hover {
  transform: scale(1.2);
  /* slowly ease in */
  transition: 500ms ease-in-out;
  color: #eb9c15;
}

#bolded {
  font-weight: 700;
}