article.tweet {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 100%;
  font-size: 0.75em;
  background: #dee0df;
  padding: 1em 1.5em;
  border: 2px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
}

article.tweet .bottom-right {
  opacity: 0;
  transition: 700ms ease-in-out;
}

article.tweet .bottom-right:hover {
  opacity: 1;
  transition: 700ms ease-in-out;
}

article.tweet:hover {
  box-shadow: 5px 5px 2px #9c9a97;
}

.top-row, .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-row img {
  height: 50px;
  width: 50px;
}

.display-name {
  position: relative;
  bottom: 20px;
}

.tweet-body {
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  width: 100%;
}

.tweet-text {
  font-style: italic;
  font-weight: 700;
}

.tweet-age {
  font-size: 0.8em;
}

.bottom-row {
  margin-top: 2px;
}

.toggle-button {
  position: fixed;
  display: flex;
  width: 50px;
  height: 50px;
  z-index: 2;
  bottom: 50px;
  right: 50px;
  background-color: #e34810;
  border-radius: 25px;
}

.toggle-button i {
  position: relative;
  left: 17px;
  top: 10px;
  width: 50px;
  height: 50px;
  color: #FFF;
  opacity: 0;
  transition: 250ms ease-in-out;
}

.toggle-button i:hover {
  opacity: 1;
  transition: 250ms ease-in-out;
}

.error-message {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px solid red;
}

error-message i {
  position: relative;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
}

.error-message h1 {
  display: inline-block;
  color: red;
  font-size: 32px;
  margin-bottom: 0px;
}

.error-message p {
  display: inline-block;
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.error-message-remove {
  margin-bottom: 5px;
  padding: 10px;
}

.error-message-remove:hover {
  color: #FFF;
  background: red;
  transition: 500ms ease-in-out;
}