article.tweet {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 100%;
  font-size: 0.75em;
  background: #dee0df;
  padding: 1em 1.5em;
  border: 2px solid black;
  margin-bottom: 1em;
}

article.tweet:hover {
  box-shadow: 5px 5px 2px #9c9a97;
}

.top-row, .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-row img {
  height: 50px;
  width: 50px;
}

.display-name {
  position: relative;
  bottom: 20px;
}

.tweet-body {
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  width: 100%;
}

.tweet-text {
  font-style: italic;
  font-weight: 700;
}

.tweet-age {
  font-size: 0.8em;
}

.bottom-row {
  margin-top: 2px;
}